{% extends 'base.html' %}

{% block title %}
  Mis Imagenes
{% endblock %}

  {% block content %}
  <main>
    <div class="header_section">
      <h2>Todas las Imagenes</h2>
      {% if request.user.is_flk %}
        <a class="btn" href="{% url 'picture_registration' %}">Agregar</a>
      {% endif %}
      <a class="btn" href="{% url 'albums' %}">Ver albumes</a>
    </div>
    <ul>
      {% for picture in pictures %}
        <li>
          <div class="card">
            <h4>{{ picture.title }}</h4>
            <img src="{{ picture.image.url }}">
          </div>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
