{% extends 'base.html' %}

{% block title %}
  Mis Imagenes
{% endblock %}

  {% block content %}
  <main>
    <h2>Todas las Imagenes</h2>
    {% if request.user.is_flk %}
      <a href="{% url 'picture_registration' %}">Agregar</a>
    {% endif %}
    <a href="{% url 'albums' %}">Ver albumes</a>
    <ul>
      {% for picture in pictures %}
        <li>
          <h4>{{ picture.title }}</h4>
          <img src="{{ picture.image.url }}" style="object-fit: cover; width: 150px; height: 150px;">
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
