{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Gallery{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles/globals.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
  {% block header%}
    <header>
      <h1>My Gallery</h1>
      {% if request.user.is_authenticated %}
        <a class="btn" href="{% url 'logout' %}">Cerrar Sesión</a>
      {% else %}
        <a class="btn" href="{% url 'login' %}">Iniciar Sesión</a>
      {% endif %}
    </header>
  {% endblock %}
  {% block content %}
    <main>
      Contenido principal
    </main>
  {% endblock %}
  {% block footer %}
    <footer>
      <p>Created By <a href="https://bit.ly/follow-flako"><strong>FlakoBB</strong></a></p>
    </footer>
  {% endblock %}
</body>
</html>